@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.custom-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 0.3s linear infinite;
}

@keyframes randomMove {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(50px, 50px);
    }
    50% {
        transform: translate(-50px, 100px);
    }
    75% {
        transform: translate(100px, -50px);
    }
    100% {
        transform: translate(-100px, -100px);
    }
}

.animate-random-move {
    animation: randomMove 1s linear infinite;
}

.animation-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0; /* Ensure the icons are above other content */
}

.icon-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
